In [32]:
import numpy as mp
import pandas as pd
import random
from sklearn.feature_extraction.text import CountVectorizer
cv = CountVectorizer(max_features=5000,stop_words='english')
from sklearn.metrics.pairwise import cosine_similarity

In [33]:
df = pd.read_csv('Resume.csv')
df.head()

C:\Users\user\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (0,1,2,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,39,40,41,42,43,44,45,46,47,48,49,50,51,52,53,54,55,56,57,58,59,60,61,62,63,64,65,66,67,68,69,70,71,72,73,74,75,76,77,78,79,80,81,82,83,84,85,86,87,88,89,90,91,92,93,94,95,96,97,98,99,100,101,102,103,104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,120,121,122,123,124,125,126,127,128,129,130,131,132,133,134,135,136,137,138,139,140,141,142,143,144,145,146,147,148,149,150,151,152,153,154,155,156,157,158,159,160,161,162,163,164,165,166,167,168) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,ID,Resume_str,Resume_html,description,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 159,Unnamed: 160,Unnamed: 161,Unnamed: 162,Unnamed: 163,Unnamed: 164,Unnamed: 165,Unnamed: 166,Unnamed: 167,Unnamed: 168
0,16852973,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,"<div class=""fontsize fontface vmargins hmargin...",Overview\n\nHearingLife is a national hearing ...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,22323967,"HR SPECIALIST, US HR OPERATIONS ...","<div class=""fontsize fontface vmargins hmargin...",Metalcraft of Mayville\nMetalcraft of Mayville...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,33176873,HR DIRECTOR Summary Over 2...,"<div class=""fontsize fontface vmargins hmargin...",\nThe TSUBAKI name is synonymous with excellen...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,27018550,HR SPECIALIST Summary Dedica...,"<div class=""fontsize fontface vmargins hmargin...",descriptionTitle\n\n Looking for a great oppor...,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,17812897,HR MANAGER Skill Highlights ...,"<div class=""fontsize fontface vmargins hmargin...","Job Summary\nAt iHerb, we are on a mission to ...",NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
# Selecting columns by name
new_df = df[['Resume_str', 'description']]

In [35]:
new_df.head(20)

,Resume_str,description
0,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,Overview\n\nHearingLife is a national hearing ...
1,"HR SPECIALIST, US HR OPERATIONS ...",Metalcraft of Mayville\nMetalcraft of Mayville...
2,HR DIRECTOR Summary Over 2...,\nThe TSUBAKI name is synonymous with excellen...
3,HR SPECIALIST Summary Dedica...,descriptionTitle\n\n Looking for a great oppor...
4,HR MANAGER Skill Highlights ...,"Job Summary\nAt iHerb, we are on a mission to ..."
5,HR GENERALIST Summary Dedic...,"Location: Remote, CT, United States of America..."
6,HR MANAGER Summary HUMAN RES...,Company: Gerber Collision & Glass\n\nWELCOME T...
7,HR MANAGER Professional Summa...,The First Assistant Store Director is actively...
8,HR SPECIALIST Summary Posses...,"descriptionTitle\n\n $2,000 Sign-on Bonus Guar..."
9,HR CLERK Summary Translates ...,Instrumentation Quality Control Representative...
10,HR ASSISTANT Summary Highly ...,\nPower Utility Distribution Designer II (Remo...
11,HR MANAGER Summary Human...,Who We Are\n\nEscalent is an award-winning dat...
12,HR MANAGER Summary To obta...,About Appen\n\nAppen is a leader in AI enablem...
13,HR GENERALIST Summary A peo...,Adelphi is seeking a Nurse Practitioner to pro...
14,HR COORDINATOR Summary App...,We are looking to hire an Associate Veterinari...
15,HR CLERK Summary I am an et...,"Quantitative traders research, develop, and re..."
16,HR ANALYST Summary Experi...,Full Job Description\n\nWe are focused on prov...
17,HR DIRECTOR Summary Huma...,Full Job Description\n\nWe are focused on prov...
18,HR GENERALIST/RECRUITER Sum...,Position Overview: We are seeking an accomplis...
19,HR CONSULTING Summary 7+ yea...,Position Summary: Our Sales Manager has managi...

In [36]:
new_df.to_csv('resume_data.csv', index=False)

In [37]:
data = pd.read_csv('resume_data.csv')
data.head()

,Resume_str,description
0,HR ADMINISTRATOR/MARKETING ASSOCIATE\...,Overview\n\nHearingLife is a national hearing ...
1,"HR SPECIALIST, US HR OPERATIONS ...",Metalcraft of Mayville\nMetalcraft of Mayville...
2,HR DIRECTOR Summary Over 2...,\nThe TSUBAKI name is synonymous with excellen...
3,HR SPECIALIST Summary Dedica...,descriptionTitle\n\n Looking for a great oppor...
4,HR MANAGER Skill Highlights ...,"Job Summary\nAt iHerb, we are on a mission to ..."

In [38]:
data.isnull().sum()

Resume_str     30532
description        1
dtype: int64

In [39]:
data.dropna(inplace=True)

In [40]:
data.duplicated().sum()

0

In [43]:
data['Resume_str']=data['Resume_str'].apply(lambda x:x.split())

In [44]:
data.head()

,Resume_str,description
0,"[HR, ADMINISTRATOR/MARKETING, ASSOCIATE, HR, A...",Overview\n\nHearingLife is a national hearing ...
1,"[HR, SPECIALIST,, US, HR, OPERATIONS, Summary,...",Metalcraft of Mayville\nMetalcraft of Mayville...
2,"[HR, DIRECTOR, Summary, Over, 20, years, exper...",\nThe TSUBAKI name is synonymous with excellen...
3,"[HR, SPECIALIST, Summary, Dedicated,, Driven,,...",descriptionTitle\n\n Looking for a great oppor...
4,"[HR, MANAGER, Skill, Highlights, HR, SKILLS, H...","Job Summary\nAt iHerb, we are on a mission to ..."

In [46]:
data['Resume_str']=data['Resume_str'].apply(lambda x:" ".join(x))

In [47]:
data.head()

,Resume_str,description
0,HR ADMINISTRATOR/MARKETING ASSOCIATE HR ADMINI...,Overview\n\nHearingLife is a national hearing ...
1,"HR SPECIALIST, US HR OPERATIONS Summary Versat...",Metalcraft of Mayville\nMetalcraft of Mayville...
2,HR DIRECTOR Summary Over 20 years experience i...,\nThe TSUBAKI name is synonymous with excellen...
3,"HR SPECIALIST Summary Dedicated, Driven, and D...",descriptionTitle\n\n Looking for a great oppor...
4,HR MANAGER Skill Highlights HR SKILLS HR Depar...,"Job Summary\nAt iHerb, we are on a mission to ..."

In [48]:
data['Resume_str'] = data['Resume_str'].apply(lambda x:x.lower())

In [49]:
data.head()

,Resume_str,description
0,hr administrator/marketing associate hr admini...,Overview\n\nHearingLife is a national hearing ...
1,"hr specialist, us hr operations summary versat...",Metalcraft of Mayville\nMetalcraft of Mayville...
2,hr director summary over 20 years experience i...,\nThe TSUBAKI name is synonymous with excellen...
3,"hr specialist summary dedicated, driven, and d...",descriptionTitle\n\n Looking for a great oppor...
4,hr manager skill highlights hr skills hr depar...,"Job Summary\nAt iHerb, we are on a mission to ..."

In [50]:
!pip install nltk

Requirement already satisfied: nltk in c:\users\user\anaconda3\lib\site-packages (3.6.1)
Requirement already satisfied: regex in c:\users\user\anaconda3\lib\site-packages (from nltk) (2021.4.4)
Requirement already satisfied: joblib in c:\users\user\anaconda3\lib\site-packages (from nltk) (1.0.1)
Requirement already satisfied: tqdm in c:\users\user\anaconda3\lib\site-packages (from nltk) (4.59.0)
Requirement already satisfied: click in c:\users\user\anaconda3\lib\site-packages (from nltk) (7.1.2)

In [51]:
from nltk.stem.porter import PorterStemmer
ps = PorterStemmer()

In [52]:
def stem(text):
    y = []
    
    for i in text.split():
        y.append(ps.stem(i))
        
    return " ".join(y)

In [53]:
data['Resume_str'] = data['Resume_str'].apply(stem)

In [54]:
vectors = cv.fit_transform(data['Resume_str']).toarray()

In [55]:
vectors

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 2, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [1, 0, 0, ..., 0, 0, 0]], dtype=int64)

In [56]:
cv.get_feature_names()

['00',
 '000',
 '01',
 '02',
 '03',
 '04',
 '05',
 '06',
 '07',
 '08',
 '09',
 '0px',
 '10',
 '100',
 '1000',
 '101',
 '1099',
 '10g',
 '11',
 '110',
 '11g',
 '12',
 '120',
 '125',
 '13',
 '130',
 '14',
 '140',
 '15',
 '150',
 '1500',
 '16',
 '17',
 '18',
 '180',
 '19',
 '1975',
 '1977',
 '1978',
 '1979',
 '1980',
 '1981',
 '1982',
 '1983',
 '1984',
 '1985',
 '1986',
 '1987',
 '1988',
 '1989',
 '1990',
 '1991',
 '1992',
 '1993',
 '1994',
 '1995',
 '1996',
 '1997',
 '1998',
 '1999',
 '1m',
 '1st',
 '20',
 '200',
 '2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '200k',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020',
 '2021',
 '21',
 '22',
 '23',
 '24',
 '25',
 '250',
 '26',
 '27',
 '28',
 '29',
 '2d',
 '2m',
 '2nd',
 '30',
 '300',
 '3000',
 '31',
 '32',
 '33',
 '34',
 '35',
 '350',
 '36',
 '360',
 '365',
 '37',
 '38',
 '3d',
 '3m',
 '3rd',
 '40',
 '400',
 '401',
 '401k',
 '42',
 '43',
 '44',
 '45',
 '46',
 '47',
 '48',
 '4th',
 '50',
 '500',
 '5000',
 '500k',
 '51',
 '53',
 '55',
 '58',
 '5m',
 '5s',
 '5th',
 '60',
 '600',
 '63',
 '65',
 '66',
 '67',
 '6th',
 '70',
 '700',
 '72',
 '73',
 '75',
 '750',
 '7th',
 '80',
 '800',
 '85',
 '86',
 '87',
 '89',
 '8m',
 '8th',
 '90',
 '900',
 '9001',
 '91',
 '93',
 '94',
 '95',
 '96',
 '97',
 '98',
 '99',
 'aa',
 'aaa',
 'abc',
 'abid',
 'abil',
 'abilities',
 'ability',
 'abl',
 'abnorm',
 'abov',
 'abreast',
 'abroad',
 'absenc',
 'absence',
 'abstract',
 'abus',
 'abuse',
 'ac',
 'academ',
 'academi',
 'academic',
 'academy',
 'acceler',
 'accept',
 'access',
 'accessori',
 'accessories',
 'accid',
 'accidents',
 'accommod',
 'accompani',
 'accomplish',
 'accomplishments',
 'accord',
 'accordingli',
 'accordingly',
 'account',
 'accountability',
 'accountant',
 'accounting',
 'accounts',
 'accredit',
 'accru',
 'accrual',
 'accruals',
 'accur',
 'accuraci',
 'accuracy',
 'accurate',
 'accurately',
 'ace',
 'ach',
 'achiev',
 'achievement',
 'achievements',
 'acknowledg',
 'acquir',
 'acquisit',
 'acquisition',
 'acquisitions',
 'acrobat',
 'act',
 'action',
 'actions',
 'activ',
 'activities',
 'activity',
 'actual',
 'acumen',
 'acut',
 'ad',
 'ada',
 'adapt',
 'add',
 'addit',
 'addition',
 'additionally',
 'address',
 'adept',
 'adequ',
 'adequaci',
 'adher',
 'adjunct',
 'adjust',
 'adjustments',
 'admin',
 'administ',
 'administr',
 'administration',
 'administrative',
 'administrator',
 'administrators',
 'admiss',
 'adob',
 'adobe',
 'adolesc',
 'adopt',
 'adp',
 'ads',
 'adult',
 'adults',
 'advanc',
 'advanced',
 'advancement',
 'advantag',
 'advers',
 'advertis',
 'advertisements',
 'advertising',
 'advic',
 'advice',
 'advis',
 'advisor',
 'advisori',
 'advoc',
 'advocaci',
 'aerial',
 'aeronaut',
 'aerospac',
 'aesthet',
 'afb',
 'affair',
 'affairs',
 'affect',
 'affili',
 'affirm',
 'afford',
 'afghanistan',
 'africa',
 'african',
 'ag',
 'age',
 'agenc',
 'agencies',
 'agency',
 'agenda',
 'agendas',
 'agent',
 'agents',
 'aggreg',
 'aggress',
 'agil',
 'agile',
 'agre',
 'agreement',
 'agreements',
 'agricultur',
 'agriculture',
 'ahead',
 'aia',
 'aid',
 'aids',
 'aim',
 'air',
 'aircraft',
 'airfield',
 'airfram',
 'airlin',
 'airman',
 'airport',
 'aix',
 'ajax',
 'al',
 'alabama',
 'alarm',
 'alcohol',
 'alert',
 'algebra',
 'algorithm',
 'align',
 'allen',
 'alli',
 'allianc',
 'alloc',
 'allocation',
 'allow',
 'alon',
 'alongsid',
 'alpha',
 'altern',
 'alumni',
 'alway',
 'amazon',
 'ambassador',
 'ambiti',
 'ambul',
 'amend',
 'america',
 'american',
 'aml',
 'ammunit',
 'analog',
 'analys',
 'analyses',
 'analysi',
 'analysis',
 'analyst',
 'analysts',
 'analyt',
 'analytical',
 'analytics',
 'analyz',
 'analyze',
 'analyzed',
 'anatomi',
 'ancillari',
 'android',
 'angel',
 'angeles',
 'ani',
 'anim',
 'animation',
 'announc',
 'announcements',
 'annu',
 'annual',
 'annually',
 'anoth',
 'ansi',
 'answer',
 'antenna',
 'anthropolog',
 'anti',
 'anticip',
 'antonio',
 'anywher',
 'ap',
 'apache',
 'apart',
 'api',
 'app',
 'apparel',
 'appeal',
 'appear',
 'appl',
 'apple',
 'appli',
 'applianc',
 'appliances',
 'applic',
 'applicants',
 'application',
 'applications',
 'appoint',
 'appointments',
 'apprais',
 'appraisal',
 'appraisals',
 'appreci',
 'apprentic',
 'approach',
 'appropri',
 'appropriate',
 'approv',
 'approval',
 'approvals',
 'approxim',
 'apr',
 'april',
 'aptitud',
 'ar',
 'arab',
 'arabic',
 'arbitr',
 'architect',
 'architects',
 'architectur',
 'architecture',
 'archiv',
 'area',
 'areas',
 'arena',
 'aris',
 'arizona',
 'arkansa',
 'arlington',
 'arm',
 'armi',
 'army',
 'arrang',
 'arrangements',
 'array',
 'arriv',
 'art',
 'articl',
 'articles',
 'articul',
 'artist',
 'artists',
 'arts',
 'artwork',
 'as400',
 'asc',
 'ascertain',
 'asept',
 'asia',
 'asian',
 'ask',
 'asm',
 'asp',
 'aspect',
 'asphalt',
 'assault',
 'assay',
 'assembl',
 'assemblies',
 'assembly',
 'assess',
 'assessment',
 'assessments',
 'asset',
 'assets',
 'assign',
 'assigned',
 'assignments',
 'assist',
 'assistance',
 'assistant',
 'assistants',
 'associ',
 'associate',
 'associates',
 'association',
 'assort',
 'asst',
 'assum',
 'assur',
 'assurance',
 'athlet',
 'athletes',
 'atlant',
 'atlanta',
 'atm',
 'atmospher',
 'attach',
 'attack',
 'attain',
 'attempt',
 'attend',
 'attendance',
 'attende',
 'attendees',
 'attent',
 'attention',
 'attitud',
 'attitude',
 'attorney',
 'attorneys',
 'attract',
 'attribut',
 'attrit',
 'auction',
 'audienc',
 'audiences',
 'audio',
 'audit',
 'auditing',
 'auditor',
 'auditors',
 'audits',
 'aug',
 'august',
 'austin',
 'australia',
 'authent',
 'author',
 'authority',
 'autism',
 'auto',
 'autocad',
 'autodesk',
 'autom',
 'automat',
 'automation',
 'automobil',
 'automobiles',
 'automot',
 'automotive',
 'auxiliari',
 'avail',
 'availability',
 'available',
 'avaya',
 'averag',
 'aviat',
 'aviation',
 'avid',
 'avion',
 'avoid',
 'aw',
 'awar',
 'award',
 'awards',
 'awareness',
 'away',
 'ax',
 'az',
 'b2b',
 'b2c',
 'ba',
 'bachelor',
 'backend',
 'background',
 'backgrounds',
 'backlog',
 'backup',
 'bad',
 'bag',
 'bake',
 'baker',
 'bakeri',
 'balanc',
 'balance',
 'balances',
 'ball',
 'ballet',
 'band',
 'bank',
 'banker',
 'banking',
 'banks',
 'banner',
 'banners',
 'banquet',
 'banquets',
 'baptist',
 'bar',
 'barrier',
 'bartend',
 'bas',
 'base',
 'basebal',
 'based',
 'baselin',
 'bash',
 'basi',
 'basic',
 'basis',
 'basketbal',
 'basketball',
 'batch',
 'bath',
 'bathing',
 'bathroom',
 'battalion',
 'batteri',
 'bay',
 'bba',
 'beach',
 'beauti',
 'becam',
 'becaus',
 'becom',
 'bed',
 'beer',
 'befor',
 'began',
 'begin',
 'behalf',
 'behavior',
 'behaviors',
 'believ',
 'bell',
 'belt',
 'bench',
 'benchmark',
 'benchmarking',
 'benefici',
 'benefit',
 'benefits',
 'berkeley',
 'best',
 'beta',
 'better',
 'beverag',
 'beverages',
 'bi',
 'bid',
 'bids',
 'big',
 'bilingu',
 'bilingual',
 'billabl',
 'billing',
 'billings',
 'billion',
 'bills',
 'bio',
 'biolog',
 'biology',
 'biomed',
 'biotechnolog',
 'birth',
 'birthday',
 'bl',
 'black',
 'blackboard',
 'blade',
 'blast',
 'blend',
 'block',
 'blog',
 'blogs',
 'blood',
 'bloomberg',
 'blue',
 'blueprint',
 'blueprints',
 'board',
 'boarding',
 'boards',
 'boat',
 'bodi',
 'boe',
 'bom',
 'bond',
 'bonds',
 'bonu',
 'bonus',
 'book',
 'bookkeep',
 'bookkeeping',
 'books',
 'boost',
 'boot',
 'booth',
 'borrow',
 'boston',
 'bottl',
 'boundari',
 'box',
 'boxes',
 'boy',
 'bpo',
 'br',
 'bradley',
 'brain',
 'brainstorm',
 'branch',
 'branches',
 'brand',
 'branding',
 'brands',
 'brazil',
 'break',
 'breakdown',
 'breakfast',
 'bridg',
 'bridges',
 'brief',
 'brigad',
 'bring',
 'broad',
 'broadcast',
 'brochur',
 'brochures',
 'broken',
 'broker',
 'brokers',
 'brother',
 'brought',
 'brown',
 'bs',
 'bsc',
 'bu',
 'buch',
 'budget',
 'budgetari',
 'budgeting',
 'budgets',
 'buffet',
 'bug',
 'build',
 'builder',
 'building',
 'buildings',
 'built',
 'bulk',
 'bureau',
 'busi',
 'business',
 'businesses',
 'buy',
 'buyer',
 'buyers',
 'buying',
 'ca',
 'cabinet',
 'cabl',
 'cable',
 'cables',
 'cabling',
 'cad',
 'cafÃ©',
 'cal',
 'calcul',
 'calculations',
 'calculators',
 'calendar',
 'calendars',
 'calibr',
 'calibration',
 'california',
 'caller',
 'calling',
 'calls',
 'calm',
 'cam',
 'came',
 'camera',
 'cameras',
 'camp',
 'campaign',
 'campaigns',
 'campu',
 'campus',
 'canada',
 'canadian',
 'cancel',
 'cancer',
 'candid',
 'candidates',
 'canyon',
 'cap',
 'capabilities',
 'capabl',
 'capac',
 'capacity',
 'capit',
 'capital',
 'captain',
 'captur',
 'car',
 'card',
 'cardiac',
 'cardiovascular',
 'cards',
 'care',
 'career',
 'caregiv',
 'cargo',
 'caribbean',
 'carolina',
 'carpent',
 'carpentry',
 'carpet',
 'carri',
 'carrier',
 'carriers',
 'cart',
 'case',
 'caseload',
 'cases',
 'cash',
 'cashier',
 'cast',
 'casual',
 'casualti',
 'catalog',
 'catalogs',
 'catalyst',
 'categori',
 'categories',
 'cater',
 'catering',
 'cathol',
 'catia',
 'caus',
 'cc',
 'ccna',
 'cd',
 'ce',
 'celebr',
 'cell',
 'cellular',
 'censu',
 'cent',
 'center',
 'centers',
 'centr',
 'central',
 'centuri',
 'ceo',
 'certain',
 'certif',
 'certifi',
 'certificate',
 'certificates',
 'certification',
 'certifications',
 'certified',
 'cfo',
 'chain',
 'chair',
 'chairman',
 'challeng',
 'challenges',
 'chamber',
 'champion',
 'chanc',
 'chang',
 'change',
 'changes',
 'channel',
 'channels',
 'chapter',
 'charact',
 'character',
 'characterist',
 'charg',
 'charges',
 'charit',
 'chariti',
 'charlott',
 'chart',
 'charter',
 'charts',
 'chase',
 'chat',
 'check',
 'checking',
 'checklist',
 'checkout',
 'checks',
 'cheer',
 'chef',
 'chemic',
 'chemicals',
 'chemistri',
 'chemistry',
 'chi',
 'chicago',
 'chief',
 'child',
 'childcar',
 'childhood',
 'children',
 'china',
 'chines',
 'chip',
 'choic',
 'choir',
 'choos',
 'chosen',
 'christian',
 'chronic',
 'church',
 'cim',
 'cincinnati',
 'cio',
 'circl',
 'circuit',
 'circuits',
 'circul',
 'cisco',
 'citi',
 'citizen',
 'citizenship',
 'citrix',
 'city',
 'civic',
 'civil',
 'civilian',
 'claim',
 'claims',
 'clarifi',
 'class',
 'classes',
 'classic',
 'classif',
 'classifi',
 'classification',
 'classroom',
 'classrooms',
 'clean',
 'cleaning',
 'cleanli',
 'clear',
 'clearanc',
 'clearance',
 'clearli',
 'cleric',
 'clerical',
 'clerk',
 'cli',
 'click',
 'client',
 'clientel',
 'clientele',
 'clients',
 'climat',
 'clinic',
 'clinics',
 'clos',
 'close',
 'closeout',
 'closing',
 'closur',
 'cloth',
 'cloud',
 'club',
 'cluster',
 'cm',
 'cms',
 'cna',
 'cnc',
 'coach',
 'coaching',
 'coalit',
 'coast',
 'coat',
 'cobol',
 'cobra',
 'cocktail',
 'code',
 'codes',
 'coding',
 'coffe',
 'coffee',
 'cognit',
 'cognos',
 'cohes',
 'cold',
 'collabor',
 'collaboration',
 'collater',
 'collateral',
 ...]

In [57]:
similarity = cosine_similarity(vectors)

In [58]:
similarity[1]

array([0.51158978, 1.        , 0.43088752, ..., 0.27750819, 0.42160865,
       0.28379835])

In [63]:
sorted(list(enumerate(similarity[0])),reverse=True, key=lambda x:x[1])[1:6]

[(656, 0.5771042193490526),
 (717, 0.572702783397957),
 (36, 0.5725214699576926),
 (718, 0.568510459558774),
 (640, 0.5684952921283706)]

In [64]:
def recommend(desc):
    index = data[data['description']==desc].index[0]
    distances = similarity[index]
    resume_list = sorted(list(enumerate(distances)), key=lambda x:x[1])[1:7]
    
    for i in resume_list:
        print(data.iloc[i[0]].Resume_str)

In [65]:
recommend('Software')

IndexError: index 0 is out of bounds for axis 0 with size 0